mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    box-shadow: 2px 2px 5px 5px rgb(232, 235, 235);
    background: rgb(255, 255, 255);
  }

  .card-image-display {
    padding: 10px;
}