mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    box-shadow: 10px 10px 5px rgb(190, 191, 191);
    background: rgb(237, 234, 234);
  }

  .card-image-display {
    padding: 10px;
}